<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <% if (errors.length > 0) { %>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error %></li>
                <% }) %>
            </ul>
        <% } %>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <% if (flash_message) { %>
        <p><%= flash_message %></p>
    <% } %>
</body>
</html>
